html, body {
  margin: 0;
  font-family: sans-serif;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  display: flex;
  margin: 0 auto;
  background-color: rgb(255,255,102)
}
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  width: 15%;
  background-color: rgb(255,255,102)
  padding: 10px 20px 0px;
}
.header {
  background-color: #fff;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  background-color: white;
  min-height: 300px;
  padding: 20px;
}
.footer {
  background-color: rgb(255,255,51);
  min-height: 150px;
  text-align: center;
  padding-top: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}